<h1 class="text-center">Meet The Team</h1>

<div class="row gx-4 gx-lg-5">

    <div class="col-md-6 mb-5 ">
        <div class="card h-100">
            <div class="card-body bg-dark">
                <h2 class="card-title" style="color:white">Himaja, Parachuri</h2>
                <p class="text-light">Role: Tester</p>
                </br>
                <a class="btn btn-outline-light" href="https://github.com/HimajaParachuri">Github</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Hema Sree Rathnam, Machha</h2>
                <p>Role: Back-End Developer </p>
                </br>
                <a class="btn btn-outline-dark" href="https://github.com/HemaSreeRathnamMachha">Github</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Chandra Bhanu, Tata</h2>
                <p>Role: Front-End Developer</p>
                </br>
                <a class="btn btn-outline-dark" href="https://github.com/tata1141">Github</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-5">
        <div class="card h-100">
            <div class="card-body bg-dark">
                <h2 class="card-title" style="color:white">Abdul Suboor, Syed</h2>
                <p class="text-light">Role: Team Lead, Back-End Developer</p>
                </br>
                <a class="btn btn-outline-light" href="https://github.com/AbdulSuboor-Syed">Github</a>
            </div>
        </div>
    </div>


</div>