<div class="col-12">
    <video src="~/Video/Video2.mp4" muted loop autoplay style="width:100%;height:100%;object-fit:cover;top:0;left:0;"></video>
</div>


<div class="jumbotron">
    <h1 class="display-4">Sell Your Old Books!</h1>
    <p class="lead">You can sell us your old books or books you don't need for a percentage of their current value and condition.</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
        <b> Visit the library between 9:00 a.m. and 5:00 p.m. Monday-Friday</b>
    </p>
</div>
