


<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Sell Us Your Old Books!</h2>                
                <h4 class="font-weight-light">Give us your old books which you don't need anymore.</h4>
            </div>
        </div>
    </div>
</section>

<div class="container px-4 px-lg-5 ">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5"><img class="img-fluid rounded" src="~/Images/sellbooks1.jpg" alt="..." /></div>
        <div class="col-lg-7">
            <h2 class="font-weight-light">How to Sell Your Books..?</h2>
            <h4 class="font-weight-light">Come by the university Library at the front desk along with the books you don't need to sell them or You can Exchange with other books.</h4>
        </div>
    </div>
</div>

<section class="py-5 bg-dark">
    <div class="container my-7">
        <div class="row justify-content-center">
            <div class="col-lg-8" style="color:white">
                <h3>You can get your payment in the form of cash or check based on your preference.</h3>
                <h4 class="font-weight-light">Timings: Monday-Friday: 8:00 AM - 4:00 PM </h4>
            </div>
        </div>
    </div>
</section>

<div class="container px-4 px-lg-5 ">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <h2 class="font-weight-light">Help Us Help Other's</h2>
            <h4 class="font-weight-light">If you have any books that you don't need anymore you can donate them, So that we can provide the books for other's.</h4>
        </div>
        <div class="col-lg-5">
            <img class="img-fluid rounded" src="~/Images/sellbooks2.jpg" alt="..." />
        </div>
    </div>
