<header class="py-5 bg-image-full" style="background-image: url('https://mdbootstrap.com/img/new/slides/007.jpg') ">
    <div class="container px-4 px-lg-5">
        <div class="wrapper">
            <div class="typing-demo text-white">BUY/RENT/SELL BOOKS..&#128218;</div>
        </div>
    </div>
</header>


<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Welcome to Hand-In Hand-Out</h2>
                <p class="lead">This website is dedicated to help student's by student's</p>
                <p class="mb-0">Login to see the catelog</p>
            </div>
        </div>
    </div>
</section>

<div class="container px-4 px-lg-5 ">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5"><img class="img-fluid rounded" src="~/Images/bannerImage.jpg" alt="..." /></div>
        <div class="col-lg-7">
            <h3 class="font-weight-light">Not a member..?</h3>
            <h4 class="font-weight-light">Then Sign Up its Free you know!</h4>
        </div>
    </div>
</div>

<section class="py-5 bg-dark">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6" style="color:white">
                <h2>You just place an order</h2>
                <p class="lead">Then you can pick up the book from the library</p>
            </div>
        </div>
    </div>
</section>

<div class="container px-4 px-lg-5 ">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <h3 class="font-weight-light">Help Us Help Other's</h3>
            <h4 class="font-weight-light">Sell us your old books so we can provide for other's</h4>
        </div>
        <div class="col-lg-5">
            <img class="img-fluid rounded" src="~/Images/WelcomeImage02.jpg" alt="..." />
        </div>
    </div>
</div>


<div class="row gx-4 gx-lg-5">

    <div class="col-md-4 mb-5 ">
        <div class="card h-100">
            <div class="card-body bg-dark">
                <h2 class="card-title" style="color:white">Buy Books</h2>
                <p class="card-text" style="color:white">Buy books from the catelog. We have different books from wide range of subjects which are less than the retail price from other vendors </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Sell Books</h2>
                <p class="card-text">Sell books which you don't need anymore. This will help students who are looking for books. You will get a percentage of the retail price</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body bg-dark">
                <h2 class="card-title" style="color:white">Rent Books</h2>
                <p class="card-text" style="color:white">Rent books that you wanna look into for a while.You can rent them out for a semester or even for couple of days</p>
            </div>
        </div>
    </div>
</div>
