


<section class="py-4">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Welcome to Hand-In Hand-Out</h2>
                <p class="lead">This website is dedicated to help student's by student's</p>
                <p class="mb-0">Register to buy, rent or sell books</p>
            </div>
        </div>
    </div>
</section>

<div class="container px-4 px-lg-5 ">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-5">
            <video src="~/Video/Video3.mp4" muted loop autoplay style="width:100%;height:100%;object-fit:cover;top:0;left:0;"></video>
        </div>
        <div class="col-lg-7">
            <h3 class="font-weight-light">Not a member..?</h3>
            <h4 class="font-weight-light">Then Sign Up its Free you know!</h4>
        </div>
    </div>
</div>

<section class="py-5 bg-dark">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6" style="color:white">
                <h2>You just place an order</h2>
                <p class="lead">Then you can pick up the book from the library</p>
            </div>
        </div>
    </div>
</section>

<div class="container px-4 px-lg-5 ">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <h3 class="font-weight-light">Help Us Help Other's</h3>
            <h4 class="font-weight-light">Sell us your old books so we can provide for other's</h4>
        </div>
        <div class="col-5">
            <video src="~/Video/Video5.mp4" muted loop autoplay style="width:100%;height:100%;object-fit:cover;top:0;left:0;"></video>
        </div>
    </div>
</div>


<div class="row gx-4 gx-lg-5">

    <div class="col-md-4 mb-5 ">
        <div class="card h-100">
            <div class="card-body bg-dark">
                <h2 class="card-title" style="color:white">Buy Books</h2>
                <p class="card-text" style="color:white">Purchase books from the catalog. We have a selection of books on a variety of topics that are less expensive than the retail price from other sellers. </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Sell Books</h2>
                <p class="card-text">Sell any books that you no longer require. This would be beneficial to students who are seeking for books. You will be compensated as a percentage of the retail price.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body bg-dark">
                <h2 class="card-title" style="color:white">Rent Books</h2>
                <p class="card-text" style="color:white">Rent books that you'd need to read for a time. You may rent them for a semester or just a few days..</p>
            </div>
        </div>
    </div>
</div>

